server/doc/schema/available_formats.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="formats">
      <oneOrMore>
        <element name="format">
          <optional>
            <attribute name="common">
              <data type="NCName"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="extensions"/>
          </optional>
          <element name="name">
            <data type="NCName"/>
          </element>
          <element name="description">
            <text/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
