server/doc/schema/periodic_table.rnc

default namespace = ""

start =
  element periodic {
    element element {
      attribute symbol { xsd:NCName },
      element property {
        attribute label { text },
        attribute name { xsd:NCName },
        attribute value { text }?,
        element listvalue {
          element value {
            attribute value { xsd:integer }
          }*
        }?
      }+
    }+
  }
